* {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    background: #000;
    color: white;
    position: relative;
    scroll-behavior: smooth;
}